<div class="row">
  <div class="col-xs-10">
    <app-board-edit></app-board-edit>
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Board Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Since</th>
          <th scope="col">Final</th>
          <th scope="col">View</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer"
            *ngFor="let board of boards"
            (click)="onEditBoard(board.boardId)"
            >
          <td scope="row">{{ board.boardId }}</td>
          <td scope="row">{{ board.name }}</td>
          <td scope="row">{{ board.category }}</td>
          <td scope="row">{{ (board.description.length > 30) ? board.description.substring(0,30)+ "..." : board.description }}</td>
          <td scope="row">{{ board.registerdate | date: 'dd/MM/yy' }}</td>
          <td scope="row">{{ board.updatedate | date: 'dd/MM/yy'  }}</td>
          <td scope="row>">
            <button
              class="btn-xs btn-success"
              [routerLink]="['/boards', board.boardId, 'dreams']">View</button>
          </td>
          <td scope="row>"><button class="btn-xs btn-danger" (click)="onBoardDelete($event, board.boardId)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
