<div class="row">
  <div class="col-md-5">
    <app-dream-list></app-dream-list>
  </div>
  <div class="col-md-7">
    <app-dream-detail
      *ngIf="selectedDream; else infoText"
      [dream]="selectedDream"></app-dream-detail>
    <ng-template #infoText>
      <div *ngIf="!editMode && !newMode" style="padding-top: 55px; padding-left: 35px">
        <h3>Please select a Dream!</h3>
      </div>
    </ng-template>
    <app-dream-edit *ngIf="editMode || newMode" (ratingUpdated) = "onRateChange($event)"></app-dream-edit>
  </div>
</div>
