<a
  style="cursor: pointer"
  class="list-group-item clearfix"
  routerLinkActive="active"
  [routerLink]="['/boards', dreamInfo.boardId, 'dreams', dreamInfo.dreamId ]"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ dreamInfo.name }}</h4>
    <p class="list-group-item-text">{{ dreamInfo.description }}</p>
  </div>
  <span class="pull-right">
    <img
      [src]="dreamInfo.imagePath"
      alt="{{ dreamInfo.name }}"
      class="img-responsive"
      style="max-height: 50px;">
  </span>
</a>
