<div class="row">
  <div class="col-xs-12">
    <div *ngIf="editMode; else newDream">
      <h2>Edit Dream</h2>
    </div>
    <ng-template #newDream>
      <h2>New Dream</h2>
    </ng-template>
    <form [formGroup]="dreamForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-6">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control" >
        </div>
        <div class="col-xs-6">
          <label for="planDate">Plan Date</label>
          <input
            type="text"
            id="planDate"
            formControlName="planDate"
            class="form-control"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="description">Description</label>
          <textarea
            type="text"
            id="description"
            formControlName="description"
            class="form-control"
            rows="2" >
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label for="importance">Importance</label>
          <input
            type="text"
            id="importance"
            formControlName="importance"
            class="form-control" >
        </div>
        <div class="col-xs-6">
          <label for="imagePath">Image path</label>
          <input
            type="text"
            id="imagePath"
            formControlName="imagePath"
            class="form-control" >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label for="currency">Currency</label>
          <input
            type="text"
            id="currency"
            formControlName="currency"
            class="form-control" >
        </div>
        <div class="col-xs-6">
          <label for="estimatedCost">Estimated Cost</label>
          <input
            type="text"
            id="estimatedCost"
            formControlName="estimatedCost"
            class="form-control" >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label for="achieved">Achieved</label>
          <input
            type="text"
            id="achieved"
            formControlName="achieved"
            class="form-control" >
        </div>
        <div class="col-xs-6">
          <label for="display">Display</label>
          <input
            type="text"
            id="display"
            formControlName="display"
            class="form-control" >
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!dreamForm.valid">Save</button>
          <button type="button" class="btn btn-danger">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
