<div class="row">
  <div class="col-xs-12">
    <img
      [src]="dream.imagePath"
      alt="{{ dream.name }}"
      class="img-responsive img-rounded"
      style="max-height: 300px; padding-top: 53px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ dream.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      appDropdown
      class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Dream <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            style="cursor: pointer"
            (click) ="onEditDream()"
          >
            Edit Dream
          </a>
        </li>
        <li>
          <a style="cursor: pointer"
             (click)="onDeleteDream()"
          >Delete Dream</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <label class="col-xs-3">Description</label>
  <div class="col-xs-9">{{ dream.description }}</div>
</div>
<div class="row">
  <label class="col-xs-3">Planed date</label>
  <div class="col-xs-9">
    {{ dream.planDate | date: 'dd/MM/yy' }}
  </div>
</div>
<div class="row">
  <label class="col-xs-3">D-day</label>
  <div class="col-xs-9">
    {{ remainDays }}&nbsp;days
  </div>
</div>
<div class="row">
  <label class="col-xs-3">Estimated cost</label>
  <div class="col-xs-9">
    {{ dream.currency }} {{ dream.estimatedCost }}
  </div>
</div>
<div class="row">
  <label class="col-xs-3" style="height: 40px; padding-top: 10px;">Importance</label>
  <div class="col-xs-9">
    <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" style="color: gold">
      <mat-icon>
        {{showIcon(i)}}
      </mat-icon>
    </button>
    <mat-error *ngIf="starCount == null || starCount == 0">
      Star count is <strong>required</strong> and cannot be zero
    </mat-error>
  </div>
</div>
<div class="row">
  <label class="col-xs-3">Achieved</label>
  <div class="col-xs-9">
    {{ dream.achieved }}
  </div>
</div>
<div class="row">
  <label class="col-xs-3">Display</label>
  <div class="col-xs-9">{{ dream.display }}</div>
</div>
