<div class="row">
  <div class="col-xs-12">
    <img
      [src]="dream.imagePath"
      alt="{{ dream.name }}"
      class="img-responsive"
      style="max-height: 200px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ dream.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      appDropdown
      class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Dream <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            style="cursor: pointer"
            (click) ="onEditDream()"
          >
            Edit Dream
          </a>
        </li>
        <li><a style="cursor: pointer">Delete Dream</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ dream.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Planed date: {{ dream.planDate | date: 'dd/MM/yy' }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Remain days: {{ remainDays }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Estimated cost: {{ dream.currency }} {{ dream.estimatedCost }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Importance: {{ dream.importance }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Achieved: {{ dream.achieved }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Display: {{ dream.display }}
  </div>
</div>
