<div class="row">
  <div class="col-xs-12">
    <img
      [src]="dream.imagePath"
      alt="{{ dream.name }}"
      class="img-responsive"
      style="max-height: 200px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ dream.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      appDropdown
      class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Dream <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer">Edit Dream</a></li>
        <li><a style="cursor: pointer">Delete Dream</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ dream.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Planed date: 2020-10-10
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Estimated cost: € 10000
  </div>
</div>
