<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(boardForm)" #boardForm="ngForm">
      <div class="row">
        <div class="col-sm-3">
          <button
            class="btn btn-success"
            type="button"
            (click)="onToggleInput()">
            New Board
          </button>
        </div>
      </div>
      <div *ngIf="inputToggle">
        <hr>
        <div *ngIf="editMode">
          <h3>Editing</h3>
        </div>
        <div *ngIf="!editMode">
          <h3>Adding</h3>
        </div>
        <div class="row">
          <div class="col-sm-3 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              ngModel
              required
              #name = "ngModel"
              >
            <span class="help-block" *ngIf="!name.valid && name.touched" >
              Required field!
            </span>
          </div>
          <div class="col-sm-3 form-group">
            <label for="category">Category</label>
            <select
              id="category"
              name="category"
              class="form-control"
              [ngModel]="defaultCategory">
              <option
                *ngFor="let category of categories"
                [value] = "category">
                {{ category }}
              </option>
            </select>
          </div>
          <div class="col-sm-6 form-group">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              ngModel
              required
              #description = "ngModel"
              >
            <span class="help-block" *ngIf="!description.valid && description.touched" >
              Required field!
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="btn-toolbar">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!boardForm.valid"
                *ngIf="!editMode"
                >
                Add
              </button>
              <button
                class="btn btn-info"
                type="submit"
                [disabled]="!boardForm.valid"
                *ngIf="editMode"
              >
                Update
              </button>
              <button
                class="btn btn-danger"
                type="button"
                (click)="onFormReset(boardForm)"
                >Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
